<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dream.process.mapper.FlowConferenceroomMapper">

    <resultMap id="BaseResultMap" type="com.dream.process.domain.FlowConferenceroom">
            <id property="id" column="Id" jdbcType="INTEGER"/>
            <result property="conferenceRoom" column="ConferenceRoom" jdbcType="INTEGER"/>
            <result property="beginDate" column="BeginDate" jdbcType="TIMESTAMP"/>
            <result property="endDate" column="EndDate" jdbcType="TIMESTAMP"/>
            <result property="reason" column="Reason" jdbcType="VARCHAR"/>
            <result property="createUser" column="CreateUser" jdbcType="INTEGER"/>
            <result property="createDate" column="CreateDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        Id,ConferenceRoom,BeginDate,
        EndDate,Reason,CreateUser,
        CreateDate
    </sql>
</mapper>
