<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dream.drp.mapper.DrpGoodsMapper">

    <resultMap id="BaseResultMap" type="com.dream.drp.domain.DrpGoods">
            <id property="goodsId" column="GoodsId" jdbcType="INTEGER"/>
            <result property="goodsName" column="GoodsName" jdbcType="VARCHAR"/>
            <result property="goodsTypeId" column="GoodsTypeId" jdbcType="INTEGER"/>
            <result property="goodsCount" column="GoodsCount" jdbcType="INTEGER"/>
            <result property="goodsLocality" column="GoodsLocality" jdbcType="VARCHAR"/>
            <result property="goodsUnit" column="GoodsUnit" jdbcType="VARCHAR"/>
            <result property="createDate" column="CreateDate" jdbcType="TIMESTAMP"/>
            <result property="updateDate" column="UpdateDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        GoodsId,GoodsName,GoodsTypeId,
        GoodsCount,GoodsLocality,GoodsUnit,
        CreateDate,UpdateDate
    </sql>

    <sql id="Base_Column_List_g">
        g.GoodsId,g.GoodsName,g.GoodsTypeId,
        g.GoodsCount,g.GoodsLocality,g.GoodsUnit,
        g.CreateDate,g.UpdateDate
    </sql>



    <select id="queryGoodsByWarehouseId" resultType="drpGoods">

    select *
    from drp_goods as g
    LEFT JOIN
    drp_goods_warehouse w
    on
    w.GoodsId = g.GoodsId
    left join
    drp_warehouse ww
    on
    w.WarehouseId = ww.WarehouseId
    left join
    drp_goodstype as gt
    on
    g.GoodsTypeId = gt.GoodsTypeId
    <where >
        <if test="warehouseId != null">
            and w.WarehouseId = #{warehouseId}
        </if>
        <if test="drpGoods.goodsId !=null">
            and g.GoodsId = #{drpGoods.goodsId}
        </if>
        <if test="drpGoods.goodsName !=null">
            <bind name="aa" value="'%'+drpGoods.goodsName+'%'"/>
            and g.GoodsName like #{aa}
        </if>
    </where>
    <bind name="current" value="pageDomain.pageSize*(pageDomain.pageNum-1)"/>
    limit #{current},#{pageDomain.pageSize}
    </select>

    <select id="getOne" resultType="drpGoods">
        select <include refid="Base_Column_List_g"></include>,ww.WarehouseId,ww.WarehouseName,gt.goodsTypeName
        from drp_goods as g
        LEFT JOIN
        drp_goods_warehouse w
        on
        w.GoodsId = g.GoodsId
        left join
        drp_warehouse ww
        on
        w.WarehouseId = ww.WarehouseId
        left join
        drp_goodstype as gt
        on
        g.GoodsTypeId = gt.GoodsTypeId
         where g.GoodsId = #{id}
    </select>

    <select id="getListByIds" resultType="drpGoods" parameterType="object">
        select <include refid="Base_Column_List_g"></include>,ww.WarehouseId,ww.WarehouseName,gt.goodsTypeName
        from drp_goods as g
        LEFT JOIN
        drp_goods_warehouse w
        on
        w.GoodsId = g.GoodsId
        left join
        drp_warehouse ww
        on
        w.WarehouseId = ww.WarehouseId
        left join
        drp_goodstype as gt
        on
        g.GoodsTypeId = gt.GoodsTypeId
        where g.GoodsId in
        <foreach item="item" index="index" collection="list"
                                     open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

</mapper>
