<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dream.drp.mapper.DrpGoodsMapper">

    <resultMap id="BaseResultMap" type="com.dream.drp.domain.DrpGoods">
            <id property="goodsId" column="GoodsId" jdbcType="INTEGER"/>
            <result property="goodsName" column="GoodsName" jdbcType="VARCHAR"/>
            <result property="goodsTypeId" column="GoodsTypeId" jdbcType="INTEGER"/>
            <result property="goodsNo" column="GoodsNo" jdbcType="VARCHAR"/>
            <result property="goodsLocality" column="GoodsLocality" jdbcType="VARCHAR"/>
            <result property="goodsUnit" column="GoodsUnit" jdbcType="VARCHAR"/>
            <result property="createDate" column="CreateDate" jdbcType="TIMESTAMP"/>
            <result property="updateDate" column="UpdateDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        GoodsId,GoodsName,GoodsTypeId,
        GoodsNo,GoodsLocality,GoodsUnit,
        CreateDate,UpdateDate
    </sql>
    <sql id="Base_Column_List_g">
        g.GoodsId,g.GoodsName,g.GoodsTypeId,
        g.GoodsNo,g.GoodsLocality,g.GoodsUnit,
        g.CreateDate,g.UpdateDate
    </sql>


    <select id="queryGoodsByWarehouseId" resultType="drpGoods">
        select
        <include refid="Base_Column_List_g"></include>
        from drp_goods as g
        LEFT JOIN
        drp_goods_warehouse w
        on
        w.GoodsNo = g.GoodsNo

        <where >
            <if test="warehouseId != null">
                and w.WarehouseId = #{warehouseId}
            </if>
            <if test="drpGoods.goodsId !=null">
                and g.GoodsId = #{drpGoods.goodsId}
            </if>
            <if test="drpGoods.goodsName !=null">
                and g.GoodsName = '%'+#{drpGoods.goodsName}+'%'
            </if>
        </where>
        <bind name="current" value="pageDomain.pageSize*(pageDomain.pageNum-1)"/>
        limit #{current},#{pageDomain.pageSize}
    </select>
</mapper>
